:root {
  --accent-color: #2196f3;
  --main-color-text: #757575;
  --title-color-text: #212121;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---------------- reset--------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

img {
  display: block;
}

button {
  border: transparent;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color-text);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------HEADER--------- */

.header {
  border-bottom: 1px solid #ececec;
}
.header-content {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
}

.header-logo {
  display: block;
  padding: 25px 0;
  margin-right: 94px;

  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.header-logo > span {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-link {
  display: block;
  padding: 32px 0;
  color: var(--title-color-text);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.header-contacts-link {
  display: block;
  padding: 32px 0;
  color: var(--main-color-text);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* --------HERO----------- */

.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0px;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  color: #fff;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* -----------FEATURES----------- */

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-item {
  width: calc(100% - 90px) / 4;
}

.feature-title {
  color: var(--title-color-text);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-text {
  width: 270px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

/* ---------SERVICES------------ */

.services-title {
  color: var(--title-color-text);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  gap: 30px;
}

.services-item {
  width: calc(100% - 60px) / 3;
}

/* ------------OUR TEAM------------- */

.team-title {
  color: var(--title-color-text);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  width: calc(100% - 90px) / 4;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-content {
  padding: 30px 0;
  text-align: center;
}

.team-subtitle {
  margin-bottom: 10px;
  color: var(--title-color-text);
  font-weight: 500;
  letter-spacing: 0.48px;
}

.team-text {
  letter-spacing: 0.48px;
}

/* ----------FOOTER---------- */

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.footer-logo > span {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.footer-text {
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* -------------PAGE--PORTFOLIO----------- */

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  background: #f5f4fa;
  color: var(--title-color-text);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #fff;
  background-color: var(--accent-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  width: calc(100% -60px) / 3;
}

.project-content {
  padding: 20px 24px;
  border: 1px solid #eee;
}

.project-title {
  margin-bottom: 4px;
  color: var(--title-color-text);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.project-text {
  color: var(--main-color-text);
  font-family: Roboto;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
