.feature-list {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.feature-item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
}

.feature-icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
}

.feature-title {
  text-align: center;
  color: $title-color-text;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-text {
  // width: 270px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  color: $main-color-text;
}
