.section-services {
  display: none;
}

.services-title {
  color: $title-color-text;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  gap: 30px;
}

.services-item {
  width: calc(100% - 60px) / 3;
}

.servies-thumb {
  position: relative;
}

.servies-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 107px;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
