.section-team {
  background-color: #f5f4fa;
}

.team-title {
  color: $title-color-text;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.84px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.team-item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-content {
  padding: 30px 30px;
  text-align: center;
}

.team-subtitle {
  margin-bottom: 10px;
  color: $title-color-text;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.team-text {
  color: $main-color-text;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-list-item {
  width: 44px;
  height: 44px;
}

.soc-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  transition: color $timer-function, background-color $timer-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
  }
}

.soc-icon {
  fill: currentColor;
}
